@using AlmacenVinos.Domain.Enums;
@using AlmacenVinos.Domain.Models;
@using GridMvc.Html
@model IEnumerable<BotellaDto>

@Html.Grid(Model).Named("BotellasGrid").Columns(columns =>
{
columns.Add(c => c.Descripcion).Titled("Nombre");
columns.Add(c => c.Vino.Denominacion).Titled("Denominación");
columns.Add(c => c.Vino.Variedad).Titled("Variedad");
columns.Add(c => c.Vino.Crianza).Titled("Crianza");
columns.Add(c => c.Vino.Color).Titled("Color");
columns.Add(c => c.Vino.Capacidad).Titled("Capacidad");
columns.Add(c => c.Añada).Titled("Añada");
columns.Add(c => c.Caducidad).Format("{0:dd/MM/yyyy}").Titled("Caducidad");
columns.Add().Encoded(false)
    .Sanitized(false)
    .SetWidth(25)
    .RenderValueAs(o => @<button type="button" class="btn btn-primary clicable" onclick="baja('@o.Id');">Baja</button>);
            }).EmptyText(StringEnum.GetStringValue(MensajeError.NoRegistros)).WithPaging(5).Sortable().Filterable().WithMultipleFilters().SetLanguage("es")

<script>
    $(".grid-mvc").gridmvc();
</script>